<div class="row">

    <legend>Liste des Etats américains</legend>

    <div class="row table-responsive" data-deferred-cloak>
        <table class="table minitable">
            <thead>
            <tr>
                <th class="text-center col-strip ">Id</th>
                <th class="text-center col-strip ">Code</th>
                <th class="text-center col-strip ">Nom</th>
            </tr>
            </thead>
            <tbody  ng-repeat="state in states">
            <tr>
                <td class="text-center col-strip">{{state.id}}</td>
                <td class="text-center col-strip">{{state.stateCode}}</td>
                <td class="text-center col-strip"><a href="#/state/{{state.name}}">{{state.name}}</a></td>
            </tr>
            </tbody>
            <tfoot />
        </table>
    </div>


    <div align="center" ng-show="states.length == 0"
         data-deferred-cloak>
        <hr size="10" width="30%">
        <strong>Aucun r&eacute;sultat ne correspond &#224; vos crit&#232;res</strong>
        <hr size="10" width="30%">
    </div>

    <div class="col-lg-12">
        <button type="button" ng-click="refresh()" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Rafra&icirc;chir
        </button>
    </div>

</div>



