<div class="row">

    <legend>Details de l'Etat</legend>

    <div class="row table-responsive" data-deferred-cloak>
        <table class="table minitable">
            <thead>
            <tr>
                <th class="text-center col-strip ">Id</th>
                <th class="text-center col-strip ">Code</th>
                <th class="text-center col-strip ">Nom</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center col-strip">{{state.id}}</td>
                <td class="text-center col-strip">{{state.stateCode}}</td>
                <td class="text-center col-strip"><a href="#/state/{{state.name}}">{{state.name}}</a></td>
            </tr>
            </tbody>
            <tfoot />
        </table>

</div>



